<!-- left column -->
<div id="left_column">
<a href="http://www.geo-spatial.org/"  onMouseOver="if(document.images) document.glob.src='http://www.geo-spatial.org/images/globe.jpg';"
onMouseOut="if(document.images) document.glob.src='http://www.geo-spatial.org/images/globe_pill.jpg';"
><img name="glob" src="http://www.geo-spatial.org/images/globe_pill.jpg " border="0" title="geo-spatial.org Home" alt="geo-spatial.org Home" class="logo" /></a>
<form method="get" action="http://www.geo-spatial.org/">
<p class=titlu_stire>Căutare<br /><input type="text" value="" name="q" size="15" /><input type="submit" value="Caută" /></p class=titlu_stire>
</form>
<hr />
<center>
<a href="http://www.facebook.com/geospatialorg" target="_blank" title="Facebook"  alt="Facebook"><img src="http://www.geo-spatial.org/images/icons/social/facebook_16.png" style="float: left; margin:3px;" border="0" /></a>
<a href="https://plus.google.com/u/0/101439370226775468913/posts" target="_blank" title="Google+"  alt="Google+"><img src="http://www.geo-spatial.org/images/icons/social/google_plus_16.png" style="float: left; margin:3px;" border="0" /></a>
<a href="http://www.linkedin.com/groups/geospatialorg-4221861?home=&gid=4221861&trk=anet_ug_hm" target="_blank" title="LinkedIn"  alt="LinkedIn"><img src="http://www.geo-spatial.org/images/icons/social/linkedin_16.png" style="float: left; margin:3px;" border="0" /></a>
<a href="http://twitter.com/#!/geospatialorg" target="_blank" title="Twitter"  alt="Twitter"><img src="http://www.geo-spatial.org/images/icons/social/twitter_16.png" style="float: left; margin:3px;" border="0" /></a>
<a href="http://www.youtube.com/user/TheGeospatial" target="_blank" title="YouTube"  alt="YouTube"><img src="http://www.geo-spatial.org/images/icons/social/youtube_16.png" style="float: left; margin:3px;" border="0" /></a>
<a href="http://www.flickr.com/photos/26994138@N00/collections/72157616328882629/" target="_blank" title="Flickr"  alt="Flickr"><img src="http://www.geo-spatial.org/images/icons/social/flickr_16.png" style="clear: both; margin:3px;" border="0" /></a>
<span style="clear: both;"> </span>
</center>
<hr />
<p class="titlu_stire" style="font-size: 0.9em"><a href="http://www.geo-spatial.org/rss/?section=articole" title="rss_feed_title">RSS</a> / <a href="http://www.geo-spatial.org/atom/?section=articole" title="atom_feed_title">Atom</a> / <a href="http://www.geo-spatial.org/geoserver/ows?service=wms&version=1.1.1&request=GetCapabilities" target="_blank" title="Serviciul WMS geo-spatial.org">WMS</a> / <a href="http://www.geo-spatial.org/geoserver/ows?service=WFS&request=GetCapabilities" target="_blank" title="Serviciul WFS geo-spatial.org">WFS</a></p>
<hr />
<p class="titlu_stire" style="font-size: 0.9em"><a href="http://www.geo-spatial.org/info#contact" title="Contact">Contact</a></p>
<hr />
<h3 class="titlu_stire" style="font-size: 0.9em"><a href="https://groups.yahoo.com/neo/groups/geo-spatial/info" target="_blank" title="Lista de discuții geo-spatial.org">Lista de discuții</a> / <a href="http://www.geo-spatial.org/forum.html" target="_blank" title="Forum geo-spatial.org">Forum</a></h3>
<hr />
<h3 class="titlu_stire" style="font-size: 0.9em">Publicat cu <a href="http://www.textpattern.com" target="_blank" title="Textpattern Homepage">Textpattern</a></h3>
<hr />
<p class="titlu_stire" style="font-size: 0.9em">Comunitatea:</a></p>
<center><a href="http://europe.foss4g.org/2015/" target="_blank"><img src="http://europe.foss4g.org/2015/assets/img/logo-200x200.png" width="122" alt="Conferința FOSS4G-Europe 2015" title="Conferința FOSS4G-Europe 2015" /></a></center>
<center><a href="http://2015.foss4g.org/" target="_blank"><img src="https://foss4g2015.files.wordpress.com/2014/11/foss4g2015_a2_150x170.png"  width="122" alt="Conferința FOSS4G 2015" title="Conferința FOSS4G 2015"></a></center>
<center><a href="http://www.osgeo.org/" target="_blank" style="text-align: center;" align="center"><img src="http://www.geo-spatial.org/images/logo_osgeo.png" border="0" title="Open Geospatial Foundation" alt="Open Geospatial Foundation" class="logo" /></a></center>
<center><a href="http://freegis.ro/" target="_blank" style="text-align: center;" align="center"><img src="http://www.geo-spatial.org/images/logo_freegis.png" border="0" title="Aplicație FreeGIS Live DVD" alt="Aplicație FreeGIS Live DVD" class="logo" /></a></center>
<center><a href="https://kladia.info/mynos/" target="_blank" style="text-align: center;" align="center"><img src="http://www.geo-spatial.org/images/mynature.png" border="0" title="myBiosis.org" alt="myBiosis.org" class="logo" /></a></center>
<center><a href="http://www.kosson.ro" target="_blank" style="text-align: center;" align="center"><img src="http://www.geo-spatial.org/images/logo_kosson.jpg" border="0" title="Comunitatea virtuală KOSSON" alt="Comunitatea virtuală KOSSON" class="logo" /></a></center>
<center><a href="http://fii-liber.ro" target="_blank" style="text-align: center;" align="center"><img src="http://www.geo-spatial.org/images/logo_fii-liber.png" border="0" title="Fii liber" alt="Fii liber" class="logo" /></a></center>
<center><a href="http://alpinet.org/main/poteci/harti_ro_t_index-harti.html" target="_blank" style="text-align: center;" align="center"><img src="http://www.geo-spatial.org/images/alpinet_ghidul_tau_montan.gif" border="0" title="Hărți@Alpinet.org" alt="Hărți@Alpinet.org" class="logo" /></a></center>
<center><a href="http://www.bibliografia.ro/" target="_blank" style="text-align: center;" align="center"><img src="http://www.geo-spatial.org/images/logo_bibliografia.png" border="0" title="Bibliografia.ro" alt="Bibliografia.ro" class="logo" /></a></center>
<center><a href="http://opengis.unibuc.ro/" target="_blank" style="text-align: center;" align="center"><img src="http://www.geo-spatial.org/images/logo_opengis.png" border="0" title="OpenGIS.UniBuc.ro" alt="OpenGIS.UniBuc.ro" class="logo" /></a></center>
<center><a href="http://grass.unibuc.ro/" target="_blank" style="text-align: center;" align="center"><img src="http://www.geo-spatial.org/images/grasslogo.png" border="0" title="Mirror GRASS Romania" alt="Mirror GRASS Romania" class="logo" /></a></center>
<center><a href="http://wiki.openstreetmap.org/index.php/Romania" target="_blank" style="text-align: center;" align="center"><img src="http://www.geo-spatial.org/images/logo_osm.png" border="0" title="Proiectul OpenStreetMap Romania" alt="Proiectul OpenStreetMap Romania" class="logo" /></a></center>
<center><a href="http://www.noitopografii.ro/" target="_blank" style="text-align: center;" align="center"><img src="http://www.geo-spatial.org/images/banner_noitopografii.gif" border="0" title="Proiectul Noi Topografii" alt="Proiectul Noi Topografii" class="logo" /></a></center>
<hr />
</div>
<!-- /left column -->
